.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 2em;
}

.titleContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}
