.footer {
  color: #fff;
  background-color: #222;
  padding: 3em;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  list-style: none;
  gap: 24px;
  align-items: center;
}

.list li:hover {
  color: #ffbb33;
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
}

.list svg {
  font-size: 1.5rem;
}

.copyright {
  margin-top: 1.3rem;
  font-weight: bold;
}

.copyright span {
  color: #ffbb33;
}
