.header {
  max-width: 100%;
  background-color: #222;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.link {
  margin-right: 1em;
  color: #fff;
  text-decoration: none;
}

.link:hover {
  color: #ffbb33;
  opacity: 0.8;
  transition: 0.2s;
}
